<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="APIBaseURI" value="http://api-test.ctlglobalsolutions.com" />
        <add key="APIUserID" value="F6184073-1CF0-4144-A680-3312F1401AC6" />
        <add key="APIClientID" value="8820c2c7-4797-4cb2-b495-5826568a9c70" />
    </appSettings>
</configuration>
